/**
 * @name Small-members-tab-2.0.0
 * @author Asolley#1143
 * @version 2.0.0
 * @description Make the members tab smaller(it gets full size when you hover it)
 * @source https://github.com/Asolley/small-members-tab
*/

/*Small members tab rewrite by Asolley*/
.members__573eb:hover {
	transition: width 400ms cubic-bezier(.2,0,0,1);
	width: 240px;				/* Width on hover for members tab*/ 
}
.members__573eb , .membersListNotices_a4cb13 {
  width: 70px;					/* Sets Width of members tab */
}
.membersWrap__5ca6b{
	   min-width: 0px;	
}
