/**
 * @name Small-members-tab-2.0.0
 * @author Asolley#1143
 * @version 2.0.0
 * @description Make the members tab smaller(it gets full size when you hover it)
 * @source https://github.com/Asolley/small-members-tab
*/

/*Small members tab rewrite by Asolley*/
.members-2y1nVj:hover {
	transition: width 400ms cubic-bezier(.2,0,0,1);
	width: 240px;				/* Width on hover for members tab*/ 
}
.members-2y1nVj , .membersListNotices-3yhEwx {
  width: 70px;					/* Sets Width of members tab */
}
.membersWrap-3GwLFp{
	   min-width: 0px;	
}
.membersGroup-2YoqY-{
	min-width: 0px;
}
